//  Colors
//==========================================================================
$c-darkblue: "#0C3048";
$c-blue: "#3E9EBE";
$c-lightblue: "#96CAE7";

$c-white: "#FFFFFF";
$c-orange: "#F28400";
$c-yellow: "#F9B600";

$c-gradient-background: linear-gradient(
  180deg,
  $c-darkblue 0%,
  $c-lightblue 100%
);
$c-gradient-logo: linear-gradient(180deg, $c-lightblue 0%, $c-darkblue 100%);
$c-gradient-orange: linear-gradient(180deg, $c-orange 0%, $c-yellow 100%);
