//  Colors
//==========================================================================
$c-darkblue: "#0C3048";
$c-blue: "#3E9EBE";
$c-lightblue: "#96CAE7";

$c-white: "#FFFFFF";
$c-orange: "#F28400";
$c-yellow: "#F9B600";

$c-gradient-background: linear-gradient(180deg, #0c3048 0%, #96cae7 100%);
$c-gradient-logo: linear-gradient(180deg, #96cae7 0%, #0c3048 100%);
$c-gradient-orange: linear-gradient(180deg, #f28400 0%, #ffe293 100%);
